<% layout('/layouts/boilerplate') -%>
<body>
  <div class="row">
    <div class="col-8 offset-2">
      <h3>Edit your Listing</h3>
      <form method="POST" action="/listings/<%= listing._id %>?_method=PUT" class="needs-validation" novalidate>
        
        <div class="mb-3">
          <label for="title" class="form-label">Title</label>
          <input name="listing[title]" value="<%= listing.title %>" type="text" id="title" class="form-control" required />
          <div class="valid-feedback">Looks good!</div>
          <div class="invalid-feedback">Please enter a title.</div>
        </div>
    
        <div class="mb-3">
          <label for="description" class="form-label">Description</label>
          <textarea name="listing[description]" id="description" class="form-control" required><%= listing.description %></textarea>
          <div class="valid-feedback">Nice description!</div>
          <div class="invalid-feedback">Please enter a description.</div>
        </div>
    
        <div class="mb-3">
          <label for="image" class="form-label">Image URL</label>
          <input name="listing[image.url]" value="<%= listing.image.url %>" type="text" id="image" class="form-control"  required/>
          <div class="valid-feedback">Image URL looks good!</div>
          <div class="invalid-feedback">Please enter a Image URL </div>

        </div>

        <div class="row">
          <div class="mb-3 col-md-4">
            <label for="price" class="form-label">Price</label>
            <input name="listing[price]" value="<%= listing.price %>" type="number" id="price" class="form-control" required />
            <div class="valid-feedback">Great price!</div>
            <div class="invalid-feedback">Please enter a price.</div>
          </div>
      
          <div class="mb-3 col-md-8">
            <label for="country" class="form-label">Country</label>
            <input name="listing[country]" value="<%= listing.country %>" type="text" id="country" class="form-control" required />
            <div class="valid-feedback">Country looks good!</div>
            <div class="invalid-feedback">Please enter a country.</div>
          </div>
        </div>

        <div class="mb-3">
          <label for="location" class="form-label">Location</label>
          <input name="listing[location]" value="<%= listing.location %>" type="text" id="location" class="form-control" required />
          <div class="valid-feedback">Location looks good!</div>
          <div class="invalid-feedback">Please enter a location.</div>
        </div>
    

        <div class="button-container">
          <button class="btn submit-button">Edit</button>
          <button class="btn back-button" onclick="window.location.href='/listings'">Back</button>
        </div>
        
      </form>
    </div>
  </div>
  <br>
</body>

